<!doctype html>
<html lang="ru" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Заявки</title>
        <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
        <link th:href="@{/css/main.css}" rel="stylesheet">
    </head>
    <body>
        <nav class="navbar navbar-expand bg-light position-fixed w-100">
            <div class="container">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mb-lg-0">
                        <li class="nav-item">
                            <span class="nav-link active" aria-current="page">Заявки</span>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/passenger}">Пассажиры</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" th:href="@{/employee}">Сотрудники</a>
                        </li>
                    </ul>
                </div>
                <span th:if="${role!='ROLE_WORKER'}" class="nav-text me-3"></span>
                <div th:if="${role!='ROLE_WORKER'}" class="btn-group">
                    <a th:text="${name}" class="nav-link dropdown-toggle" href="#" id="navbarDropdownUser" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        User
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                        <!--li><a class="dropdown-item" href="#">Изменить Пароль</a></li-->
                        <li><a class="dropdown-item" th:href="@{/logout}">Выход</a></li>
                    </ul>
                </div>
                <span th:if="${role=='ROLE_WORKER'}" th:text="${name}" class="nav-text me-3">User</span>
                <div th:if="${role=='ROLE_WORKER'}" class="btn-group">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownStatus" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        На работе
                    </a>
                    <ul class="dropdown-menu dropdown-menu-end ms-auto" aria-labelledby="navbarDropdown">
                        <li><a class="dropdown-item" href="#">На работе</a></li>
                        <li><a class="dropdown-item" href="#">Обед</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <!--li><a class="dropdown-item" href="#">Изменить Пароль</a></li-->
                        <li><a class="dropdown-item" th:href="@{/logout}">Выход</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <div class="div-table-action">
            <div class="div-action">
                <form th:action="@{/demand/distribute}" method="post">
                    <button type="submit" class="btn btn-light">Распределение</button>
                </form>
            </div>
            <div class="div-table-sticky">
                <table class="table table-hover">
                    <thead class="table-primary">
                        <th>№</th>
                        <th>Дата</th>
                        <th>Время</th>
                        <th>Длительность</th>
                        <th>Станция Отправления</th>
                        <th>Станция Прибытия</th>
                        <th>Категория</th>
                        <th>ФИО Пассажира</th>
                        <th>Статус</th>
                        <th>Количество сотрудников</th>
                        <th>Участок</th>
                        <th>ФИО Инспектора</th>
                    </thead>
                    <tbody>
                        <tr th:each="dem: ${demands}">
                            <th class="table-primary" th:text="${dem.id}"></th>
                            <td th:text="${dem.datePlan}"></td>
                            <td th:text="${dem.timePlan}"></td>
                            <td th:text="${#temporals.format(dem.duration, 'HH:mm:ss')}"></td>
                            <td th:text="${dem.stBegin.name + ' [линия_' + dem.stBegin.line.name + ']'}"></td>
                            <td th:text="${dem.stEnd.name + ' [линия_' + dem.stEnd.line.name + ']'}"></td>
                            <td th:text="${dem.cat}"></td>
                            <td th:text="${dem.pas.name}"></td>
                            <td th:text="${dem.status}"></td>
                            <td th:text="${'Мужчин ' + ((dem.empM > 0) ? dem.empM : 'нет') + ', Женщин ' + ((dem.empF > 0) ? dem.empF : 'нет')}"></td>
                            <td th:if="${#sets.isEmpty(dem.emp)}"></td>
                            <td th:if="${#sets.isEmpty(dem.emp)}"></td>
                            <td th:if="${not #sets.isEmpty(dem.emp)}">
                                <div th:each="area: ${dem.getAreas()}" th:text="${area}"></div>
                            </td>
                            <td th:if="${not #sets.isEmpty(dem.emp)}">
                                <div th:each="emp: ${dem.emp}" th:text="${emp.nameShort}"></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <script th:src="@{/js/bootstrap.bundle.min.js}"></script>
    </body>
</html>
